.App {
  text-align: center;
  display: block;
}

/* comment fdffs */
/* new comment */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.btn{
  margin: 2px;;
}
.divbtn{
  float: left;
  margin-left: 20px;

}

.fixed_header{
overflow: auto;
height: 300px;
padding-left: 20px;
display:block;
}


.stickheader{
  position: sticky;
  top: 0;
}
.cardsize{

width:820px;

}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.exportBtn {
  float: right;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;  
  padding: 5px;
  border-radius: 4px;
}
.importBtn {
  float: right;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
}
