.App {
  text-align: center;
  display: block;
}

/* comment fdffs */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.btn{
  margin: 2px;;
}
.divbtn{
  float: left;
  margin-left: 20px;

}

.fixed_header{
overflow: auto;
height: 300px;
padding-left: 20px;
display:block;
}


.stickheader{
  position: sticky;
  top: 0;
}
.cardsize{

width:840px;

}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.exportBtn {

  float: right;

  background-color: #4CAF50; /* Green */

  border: none;

  color: white;

  text-align: center;

  text-decoration: none;

  display: inline-block;

  font-size: 16px;

  margin: 4px 2px;

  cursor: pointer;  

  padding: 5px;

  border-radius: 4px;
}

.importBtn {
  float: right;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
}


.paginationBttns {
  width: 100%;
  display:flex;
  list-style: none;
  justify-content: center;
  margin: 1% 0;
  color:white;


}
.btnsize{
  width:20px;

background-color: transparent;
color:white;
border:#282c34;
 }
.paginationBttns a {
  border: 5px solid white;
  border-style: double;
  padding:2px 8px;
  border-radius: 50px;
  color:white;
  background-color: black;
  text-decoration: none;
 
}
.paginationBttns a:hover{
  color:cyan;
  background-color: rgb(87, 84, 120);
}

 
.navigationActive a {
  color: white;
  background-color: rgb(36, 127, 121);
}
 
.navigationDisabled a {
  color: rgb(55, 53, 53);
  background-color: white;
}

.navigationDisabled a:hover {
  color: rgb(55, 53, 53);
  background-color: white;
}
